@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

.App {
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #101828;
}

.profile__img__container {
  margin-top: 4rem;
}

.avatar-share {
  position: absolute;
  left: 70%;
  top: 6%;
  display: none;
}

.profile__name {
  margin-top: 1.5rem;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  color: #101828;
}

.profile {
  margin-top: 2rem;
}

li {
  list-style: none;
  width: 90%;
  margin: 1.5rem auto;
  background: #EAECF0;
  padding: 1.5rem 0;
  border: 1px solid #EAECF0;
  border-radius: 8px;
}

a {
  text-decoration: none;
}

#slack {
  display: none;
}

.acc {
  padding-top: 1.5rem;
  text-align: center;
}

.slack-container {
  padding-right: 1.6rem;
  margin-left: 5%;
}



@media (min-width: 40rem) {
  .App {
    font-size: 18px;
    line-height: 28px;
  } 

  .profile__name {
    font-size: 20px;
    line-height: 30px;
  }

  .profile {
    margin-top: 3.5rem;
  }

  .avatar-share {
    display: inline;
  }

  li {
    width: 72rem;
  }
}